<app-loader *ngIf="isLoading"></app-loader>

<h1 class="h4">
  Open issues of
  <a [routerLink]="['/repos']" [queryParams]="{q: queryString}" class="go-back">
    {{queryString}}
  </a>
</h1>

<div class="alert alert-danger rate-limit-exceeded" *ngIf="rateLimitExceeded">
  Warning! GitHub API ratelimit exceeded!
  Please try again later.
</div>

<div class="alert alert-danger" *ngIf="error">
  Error! Could not load open isses for this repository.
  <br>
  <span class="error-message">
    ({{error.message}})
  </span>
</div>

<div class="alert alert-success no-results" *ngIf="noResults === true">
  No open issues found \o/
</div>

<ul class="list-unstyled">
  <li *ngFor="let issueItem of issueItems">
    <app-issue-item [item]="issueItem"></app-issue-item>
  </li>
</ul>

<app-pagination
  *ngIf="issueItems.length && searchHeaderLink"
  [header-link]="searchHeaderLink"
  (link-select)="onLinkSelect($event)"
></app-pagination>
