@import '/src/styles/variables';

.mainLayout {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 0 auto;
  background-color: $color-white;
}

.content {
  height: 100%;
}
