.spinner {
  width: 48px;
  height: 48px;
}

// from https://cssloaders.github.io/
.shapes {
  width: 100%;
  height: 100%;
  border: 5px solid #aaa;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: spinnerAnimation 1s linear infinite;
}

@keyframes spinnerAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
