<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item" *ngIf="headerLink.first">
      <a class="page-link" [href]="headerLink.first.url" (click)="onClick($event, headerLink.first)">
        First
      </a>
    </li>
    <li class="page-item" *ngIf="headerLink.prev" (click)="onClick($event, headerLink.prev)">
      <a class="page-link" [href]="headerLink.prev.url">
        {{headerLink.prev.page}}
      </a>
    </li>
    <li class="page-item active" *ngIf="currentPageNumber > 0">
      <a class="page-link">
        {{currentPageNumber}}
      </a>
    </li>
    <li class="page-item" *ngIf="headerLink.next" (click)="onClick($event, headerLink.next)">
      <a class="page-link" [href]="headerLink.next.url">
        {{headerLink.next.page}}
      </a>
    </li>
    <li class="page-item" *ngIf="headerLink.last" (click)="onClick($event, headerLink.last)">
      <a class="page-link" [href]="headerLink.last.url">
        Last
      </a>
    </li>
  </ul>
</nav>
