.errorMessage {
  width: 400px;
  margin: 20px auto;
  padding: 10px;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  text-align: center;
}
