.h-full { height: 100%; }
.w-full { width: 100%; }
.p-0 { padding: 0; } .m-0-p-0 { @extend .m-0; @extend .p-0; }
.m-0 { margin: 0; }
.m-1 { margin: 10px; }
.mt-1 { margin-top: 10px; }
.mr-1 { margin-right: 10px; }
.mb-1 { margin-bottom: 10px; }
.ml-1 { margin-left: 10px; }
.place-content-center { align-items: center; justify-content: center; }
.bg-indigo-200 { background-color: rgb(199, 210, 254); }
.bg-indigo-300 { background-color: rgb(165, 180, 252); }
.text-right { text-align: right; }
.text-center { text-align: center; }
.overflow-y-auto { overflow-y: auto; }
.overflow-hidden { overflow: hidden; }
.flex { display: flex; }
.gap-0 { gap: 0; }
.gap-1 { gap: 10px; }
.gap-2 { gap: 20px; }
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }
.items-center	{ align-items: center; }
.font-italic, .italic { font-style: italic; }
.font-bold, .bold, .strong { font-weight: 700; }
.z-0 { z-index: 0; }
.z-1 { z-index: 1; }
.z-2 { z-index: 2; }
.min-h-0 { min-height: 0; }
.min-h-1 { min-height: 10px; }
.min-h-2 { min-height: 20px; }
.min-h-3 { min-height: 30px; }
.min-h-4 { min-height: 40px; }
.min-h-5 { min-height: 50px; }
