.h-full { height: 100%; }
.w-full { width: 100%; }
.p-0 { padding: 0; } .m-0-p-0 { @extend .m-0; @extend .p-0; }
.m-0 { margin: 0; }
.m-1 { margin: 10px; }
.mt-1 { margin-top: 10px; }
.mr-1 { margin-right: 10px; }
.mb-1 { margin-bottom: 10px; }
.ml-1 { margin-left: 10px; }
.place-content-center { align-items: center; justify-content: center; }
.bg-indigo-200 { background-color: rgb(199, 210, 254); }
.bg-indigo-300 { background-color: rgb(165, 180, 252); }
.text-right { text-align: right; }
.text-center { text-align: center; }
.overflow-y-auto { overflow-y: auto; }
.flex { display: flex; }
.font-italic, .italic { font-style: italic; }
.font-bold, .bold, .strong { font-weight: 700; }
